{% extends 'base.html.twig' %}

{% block title %}New Billet{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('places') }}
{% endblock %}

{% block body %}
    <h1>Create new Billet</h1>

    {{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.email) }}
    {{ form_row(form.representations) }}
    <ol class="places" data-prototype="{{ form_widget(form.places.vars.prototype)|e('html_attr') }}">
        {% for place in form.places %}
            <hr>
            <li>
                {{ form_row(place.emplacement) }}
                <button class="remove-existing-place btn btnRemovePlace">supprimer cette place</button>
            </li>
        {% endfor %}
    </ol>
    <button class="btn">{{ button_label|default('Réservez') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('representation') }}">Retour à la liste</a>
{% endblock %}

{% block javascripts %}
    {{ parent () }}
    {{ encore_entry_script_tags('places') }}
    <script>
    $(document).ready(function() {
        let path = "{{ path('price') }}";
        $.getJSON(path, function (data) {
            data = $.parseJSON(data);
            $.each(data, function (key,val) {
                let billet = {
                    price : val.prix,
                    emplacement : val.emplacement
                };
               console.log(billet);
                return billet;
            });

            $('.emplacement').click(function () {
                if( $('.emplacement').val() == 'Loge Adulte') {
                    console.log(billet.emplacement);
                    if (billet.emplacement == 'Loge Adulte') {
                        $('.emplacement').append($('p'));
                        $('p').text(billet.prix);
                    }
                }
            })

        });
    });
    </script>
    {# encore_entry_script_tags('price') #}
{% endblock %}
